*{
    padding: 0px;
    margin: 0px;
}
header{
    background-color: #d8d8d8;
    border:solid black 1px;
    display: flex;
    justify-content: space-between;
}
h1{
    font-family: segoe UI;
    font-style:normal;
    color:gray;
}
h3{
    color:grey;
    text-align: center;
}
#logotipo{
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
.box{
    margin: 5px;
    border:solid 1px black;
    border-radius: 15px;
}

section{
    width: 340px;
    display: inline-flex;
}