*{
    padding: 0px;
    margin: 0px;
}
header{
    background-color: #d8d8d8;
    border:solid black 1px;
    display: flex;
    justify-content: space-between;
}
main{
    background-color:#eee6e6;
}
h1{
    font-family: segoe UI;
    font-style:normal;
    color:gray;
}
h3{
    color:grey;
    text-align: center;

}
label{
    margin-left: 10px;
    margin-right: 10px;
}
#logotipo{
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
.box{
    margin: 5px;
    border:solid 1px black;
    border-radius: 15px;
    background-color: rgb(204, 204, 204);
    font-family: segoe UI;
    font-style:normal;
    color:rgb(65, 64, 64);

}

.grid{
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows:  5fr 1fr;
    gap:7em;
}
footer{
    text-align: center;
    background-color:#eee6e6;
    font-family: segoe UI;
    font-style:normal;
    color:rgb(65, 64, 64);

}