
main{
	padding:0 0 0px 0;
	margin:0 0 20px 0;
    background-color:rgba(225,225,225,1.00);
	
}
/*Imagenes*/
div {
	padding: 0px 0 0px 0px;
	max-width: 100%;
	height: auto;
	display:block;
	margin:auto;
}

*{
    padding: 0 0 0 0 ;
    margin: 0 0 11.8px 0;
}
/*Barra de arriba*/
header{
    background-color: #d8d8d8;
    border:solid black 0px;
    display: flex;
    justify-content: space-between;
	align-items: center;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
}
/*Posicion del titulo*/
h1{
	margin: 5px 0 5px 0;
    font-family: segoe UI;
    font-style:normal;
    color:gray;
}
/*Posicion del encabezado*/
h3{
	padding: 70px 0 30px 0;
    color:grey;
    text-align: center;

}

label{
    margin-left: 10px;
    margin-right: 10px;
}
/*Logotipo de Home*/
#logotipo{
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 10px;
}

/*Caja Gris Login*/
.box{
	padding: 0 0 0px 0px;
    margin: 0 0 0 20px;
    border:solid 0px black;
    border-radius: 15px;
    background-color: rgb(204, 204, 204);
    font-family: segoe UI;
    font-style:normal;
    color:rgb(65, 64, 64);

}
/*Posicion del pie de pagina*/
.grid{
	padding: 0 10px 0 10px;
    margin: 0px 0 -20px 0;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows:  5fr 1fr;
    gap:7em;
}
footer{
    text-align: center;
    background-color:#eee6e6;
    font-family: segoe UI;
    font-style:normal;
    color:rgb(65, 64, 64);

}