<!doctype html>
{% load static%}
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<title>C H A C O - 70 AÑOS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="{% static 'img/chaco.png' %}">
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/styles_create.css' %}">
</head>
<body>
    <img src="{% static 'img/marca de agua.png' %}" alt="Chaco" width="30%">
    <div class="container pt-4 pb-5">
        <div class="text-1"></div>
        <div class="text-2"></div>
        <div class="text-3"></div>
        <div class="text-center pt-3">
            <p class="display-7 fw-bold">Crea una<span class="ps-1">cuenta</span></p> <small class="d-flex align-items-center justify-content-center mb-3">
                <p>Ya tienes una cuenta?</p>
                <a href ="{% url 'login' %}"><div class="btn btn-primary" >Logearse</div></a>
            </small>
        </div>
        <form method="POST" action="">
            {% csrf_token %}
            <!--
            <div class="row px-md-4 px-1 m-0">
                <div class="col-12">
                    <div>
                        <p class="pb-1 username">Usuario</p> <input type="text" class=" name form-control mb-4" value="" placeholder="Nombre de usuario">
                    </div>
                </div>
                <div class="col-6"> <input type="text" class="form-control mb-4" name="name" id="name" placeholder="Nombre"> </div>
                <div class="col-6"> <input type="text" class="form-control mb-4" placeholder="Apellido"> </div>
                <div class="col-6"> <input type="text" class="form-control mb-4" name="" id="" placeholder="DNI"> </div>
                <div class="col-6"> <input type="email" class="form-control mb-4" name="email" id="email" placeholder="Email"> </div>
                <div class="col-12"> <input type="password" class="form-control mb-4" name="password" id="pass" placeholder="Password"> </div>
                {{ form.errors }}
                <div class="col-12 create">
                    <div class="btn btn-primary py-3 ">
                        <div class="d-flex align-items-center justify-content-between">
                            <p class="">Crear</p> <span class="fas fa-arrow-right "></span>
                        </div>
                    </div>
                </div>
            </div>
            -->
            <div class="row px-md-4 px-1 m-0">
                <div class="col-12"> <div> <p class="pb-1 username">Usuario</p> {{ form.username }} </div> </div>
                <div class="col-6"> {{ form.email }} </div>
                <div class="col-12"> {{ form.password1 }} </div>
                <div class="col-12"> {{ form.password2 }} </div>
                <div>
                    {% for mensaje in mensajes %}
                        <p>{{ mensaje }}</p>
                    {% endfor %}
                </div>
                <div class="col-12 create">
                    <div class="btn btn-primary py-3 ">
                        <input style="background-color:transparent; border:none; padding:2% 35%; font-size:1.6rem ; " type="submit" name="Crear Usuario"><span class="fas fa-arrow-right "></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js'%}"></script>
</body>
</html>
